.container {
    padding:10px 8%;
}

.itemContainer {
    width:990px;
}

.cartHeading {
    display:flex;
    align-self: center;
    gap:20px;
    justify-content: space-between;
    margin:auto;
}

.cartTitle {
    color:var(--black);
    width:150px;
    font-weight:bold;
    font-size:20px;
    margin-bottom:8px;
    text-align:center;
    flex:0 0 auto;
    max-width:200px;
}

hr {
    border:1px solid var(--black);
    width:100%;
}

/* **** cart CSS styles */

.cartContainer {
    display:grid;
    grid-template-columns: repeat(6,1fr);
}

.cartImage {
    width:150px;
}

.itemName,.itemPrice, .itemTotal, .removeContainer{
    display:flex;
    align-items:center;
    justify-content: center;
    width:150px;
}

.itemName {
    color:var(--black);
}

.itemPrice, .itemTotal {
    color:var(--darkGray);
    width:150px;
}

.mainbtnContainer {
    display:flex;
    gap:1px;
    align-items:center;
    justify-content: center;
    width:150px;
}

button {
    border:none;
    padding:10px;
    font-size:20px;
}

.input {
    width:40px;
    padding:10px 12px;
    text-align:center;
    border:1px solid var(--darkGray);
    font-size:100%;
}

.btnsContainer {
    display:flex;
    flex-direction:column;
    gap:30px;
    margin: 30px 0;
}

.maincouponContainer {
    display: flex;
    flex-direction: column;
}

.coupon {
    color:var(--black);
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 400;
}

.couponDescrption {
    color:var(--darkGray);
}

.couponKontainer {
    display:flex;
    flex-direction: column;
    gap:15px;
}

.couponContainer {
    display:flex;
    flex-direction: column;
    gap:20px;
}

h2 {
    color:var(--black);
}

.inputCoupon {
    padding:18px 18px 18px 15px;
    border-radius:10px;
    font-size:100%;
}

.totalContainer {
    display:flex;
    flex-direction: column;
    color:var(--black);
}

.priceName {
    margin-bottom:5px;
}

.price {
    margin-top:0;
    font-weight:bold;
}
.checkoutContainer {
    margin-top:15px;
}


@media (min-width:768px) {
    .maincouponContainer {
        flex-direction:row;
        align-items: flex-start;
        justify-content: space-between;
        gap:30px;
        margin:50px 0 40px 0;
    }

    .btnsContainer {
        flex-direction: row;
        gap:110px;
    }

    .couponContainer {
        flex-direction: row;
        align-items:center;
    }

    .totalContainer {
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
    }
}
