/* ****contact  CSS styles */
.mainContactContainer {
    display:flex;
    gap:20px;
    align-items:center;
    justify-content: center;
    padding:10px 18.5%;
    margin: 100px 0 50px 0 ;
}

.contactContainer {
    display:flex;
    gap:30px;
    align-items:center;
    width:33%;
}

.iconContainer {
    background-color:var(--primary);
    border-radius:13px;
   padding:14px 16px;
}

.contactInformation {
    color:var(--darkGray);
}

/* ****Form CSS styles */

.formContainer {
    padding:10px 18%;
    margin-bottom:50px;
}

.formInputContainer {
    display:flex;
    text-align: flexstart;
    gap:10px;
}

.inputContainer {
    width:49%;
}

.input {
    width:87%;
    padding:20px;
    border-radius:10px;
    border:1px solid var(--darkGray);
}

.formLabel {
    color:var(--darkGray);
    margin-bottom:7px;
  margin-left:2px;
}

.input.inputEmail {
    width:93%;
}

.input.inputTextArea {
    width:99%;
    padding:50px 0;
    margin-bottom:50px;
}