.mainchairContainer {
    padding:4.5rem 5%;
}

.productContainer {
    display:flex;
    flex-direction: column;  
}

.chairsContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.chairTitle,.qualityTitle{
    color:var(--black);
    font-size:25px;
}

.chairDescription {
    color:var(--darkGray);
    margin-top:0;
}

.qualitiesContainer {
    padding:10px 5%;
}

.qualityDescription {
    color:var(--darkGray);
    margin-top:-10px;
}

.chairButton {
    color:var(--white);
    background-color:var(--darkGray);
    padding:5px 8px;
}

.chairName,.chairCost {
    text-align:center;
    color:var(--black);
}

.chair {
    transition: ease-out 0.5ms;
}
.chairCost {
    font-weight:bold;
}

.chairContainer {
    margin-top:-20px;
}

.chairContainer:hover {
    background-color:var(--whiteGraient);
}

.chairContainer:hover {
    transform:translateY(10px);
}

.qualityTitle {
    color:var(--black)
}

.featuresContainer {
    display: flex;
    flex-wrap:wrap;
}

.featureContainer {
    width:45%;
    padding:2.5%;
}

.featureTitle {
    color:var(--black);
}

.featureDescription {
    color:var(--darkGray);
    margin-top:-10px;
}
.ionContainer {
    display:flex;
    align-items: center;
}

.reasonPromContainer {
    /* width:100%; */
    margin-top: 150px;
    padding:10px 5%;
}

.imageR {
    height:auto;
    max-width:100%;
    border-radius:20px;
}


.reasonsKontainer {
    display:grid;
    grid-template-columns: repeat(27, 1fr);
    width:100%;
}
.div1 {
    grid-column: 1 / span 18;
    grid-row: 1 / span 27;
}

.div2 {
    grid-column: 20 / span 27;
    grid-row: 1 / span 5;
}

.div3 {
    grid-column: 14 / span 16;
    grid-row: 8 / span 27;
}

.promiseContainer {
    width:100%;
   
}

.promiseTitle {
    color:var(--black);
    font-size:35px;
    line-height:1.1;
    font-weight:400;
}

.promiseDescription {
    color:var(--darkGray);
    line-height:1.9;
}

.promises, .promise{
    padding:0;
    line-height:1.6;
    color:var(--darkGray);
}

.promises {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:40px;
    padding-left:20px;
}

.promise {
    list-style:disc;
    width:42.5%;
    margin-bottom:8px;
    padding-right:10px;
}

.moresContainer {
   padding:5rem 10%;
}

.moreContainer {
    display:flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    width:100%;
}

.more {
    color:var(--black);
    margin-bottom:10px;
    display: inline-block;
}

.moreDescriptionCont{
    align-self:flex-start;
}

.moreTitle{
    color:var(--black);
    font-weight:bold;
}

.moreDescription{
    color:var(--darkGray);
    padding-right:8px;
    margin:9px 0;
}

.chairMore {
    height:130px;
}

.testimonalContainer {
    color:var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonals{
    text-align:center;
    font-size:35px;
    font-weight:400;
}

.testimonal {
    color:var(--darkGray);
    line-height:1.7;
    text-align:center;
    padding: 0 40px;
}

.testimonalImageContainer {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:50px;
}

.testimonalImage {
    height:80px;
    width:80px;
    border-radius:50%;
}

.testimonalName {
    text-align:center;
    font-weight:bold;
}

.testimonalPosition {
    text-align: center;
    margin-top:-14px;
}

.blogContainer {
    padding:10px 5%;
}

.blogpostContainer {
    display:flex;
    flex-direction: column;
    color:var(--black);
    width:100%;
    margin-bottom: 3rem;
}

.blogTitle {
    font-weight:400;
}

.blogLink {
    color:var(--black);
    padding-bottom:15px;
    text-decoration: underline;
    font-weight:400;
}

.homeblogContainer {
    padding-bottom:200px;
}

@media(min-width:600px) {
    .homeblogContainer {
        display:flex;
        width:100%;
        flex-wrap:wrap;
        gap:10%;
    }
    
    .homeBlog {
        width:45%;
    }

}


@media(min-width:768px) {
    .mainchairContainer {
        flex-wrap:wrap;
        display:flex;
    }

    .productContainer, .chairsContainer{
        width:100%;
    }

    .chairsContainer {
        flex-direction: row;
        margin-top:60px;
    }

    .chair {
        height:200px;
    }
    
    .chairContainer {
        width:33%;
    }

    .moresContainer {
        display:flex;
        flex-wrap:wrap;
        padding:10px 5%;
        margin: 60px 0;
    }

    .moreContainer {
        width: 50%;
        gap:0;
        margin:0;
    }

    .testimonal {
        padding:0 154px;
    }
    
    .blogLink {
        padding:0;
    }
 
}

@media(min-width:992px) {
    .mainchairContainer {
        display:flex;
        justify-content:space-between;
    }

    .productContainer {
        width:25%;
    }

    .chairsContainer {
        width:70%;
        margin-top:0;
    }

    .qualitiesContainer {
        display:flex;
        align-items:center;
    }

    .qualityContainer {
        width:60%;
    }

    .reasonsContainer {
        width:40%;
        padding:0;
    }

    .reasonPromContainer {
        display:flex;
        /* margin-top:250px; */
    }

    .reasonsKontainer {
        width:75%;
    }

    .reasonContainer {
        width:25%;
    }

    .promiseContainer {
        width:50%;
        padding:10px 5%;
    }

    .promises {
        gap:25px;
        margin-bottom:9px;
    }

    .imageR.two {
        margin-top:0;
    }

    .moreContainer {
        width: 33%;
    }

    .testimonal {
        padding:0 190px;
        font-size:18px;
    }

    .blogpostContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .homeblogContainer {
        gap:1%;
    }

    .homeBlog {
        width:32%;
    }

}