.heroContainer {
    background-color:var(--primary);
    padding:1rem 5%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.heroTitle {
    color:var(--white);
    font-weight:bold;
}

.heroDescription {
    color:var(--whiteGradient);
}

/* .shopButton {
    color:var(--black);
    background-color:var(--yellow);
    font-size:15px;
    padding:15px 25px;
}

.exploreButton {
    color:var(--white);
    background-color:var(--primary);
    border:2px solid var(--whiteGradient);
    padding:13px 25px;

} */

.buttonContainer {
    display:flex;
    gap:15px;
}

.heroImageContainer {
    margin-right:-10px;
    margin-left:0;
}

.mainchairContainer {
    padding:1rem 5%;
}

.productContainer {
    display:flex;
    flex-direction: column;  
}

.chairsContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.chairTitle,.qualityTitle{
    color:var(--black);
    font-size:25px;
}

.chairDescription {
    color:var(--darkGray);
}

.qualityDescription {
    color:var(--darkGray);
    margin-top:-10px;
}

.chairButton {
    color:var(--white);
    background-color:var(--darkGray);
    padding:5px 8px;
}

.chairName,.chairCost {
    text-align:center;
    color:var(--black);
}

.chair {
    transition: ease-out 0.5ms;
}
.chairCost {
    font-weight:bold;
}

.chairContainer {
    margin-top:-20px;
}

.chairContainer:hover {
    background-color:var(--whiteGraient);
}

.chairContainer:hover {
    transform:translateY(10px);
}

.qualitiesContainer {
    padding:1rem 5%;
}

.qualityTitle {
    color:var(--black)
}

.featuresContainer {
    display: flex;
    flex-wrap:wrap;
}

.featureContainer {
    width:40%;
    padding:12px;
}

.featureTitle {
    color:var(--black);
}

.featureDescription {
    color:var(--darkGray);
    margin-top:-10px;
}
.ionContainer {
    display:flex;
    align-items: center;
}

.imageR {
    height:auto;
    max-width:100%;
    border-radius:20px;
}

.imageR.two {
    margin-top:200px;
}

.reasonsContainer {
    padding:1rem 5%;
}

.promiseContainer {
    padding:0.2rem 5%;
}

.promiseTitle {
    color:var(--black);
    font-size:35px;
    line-height:1.1;
    font-weight:400;
}

.promiseDescription {
    color:var(--darkGray);
    line-height:1.9;
}

.promises, .promise{
    padding:0;
    line-height:1.6;
    color:var(--darkGray);

}

.promises {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:40px;
    padding-left:20px;
}

.promise {
    list-style:disc;
    width:42.5%;
    margin-bottom:8px;
}

.moreContainer {
    display:flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    width:80%;
    margin:30px auto;

}

.more {
    color:var(--black);
    margin-bottom:10px;
    display: inline-block;
}

.moreDescriptionCont{
    align-self:flex-start;
}

.moreTitle{
    color:var(--black);
    font-weight:bold;
}

.moreDescription{
    color:var(--darkGray);
}
.chairMore {
    height:130px;
}

.testimonalContainer {
    color:var(--black);
    margin-top:150px;
    /* padding:2rem 5%; */
}

.testimonals{
    text-align:center;
    font-size:35px;
    font-weight:400;
}

.testimonal {
    color:var(--darkGray);
    line-height:1.6;
    text-align:center;
    padding: 0 100px;
}

.testimonalImageContainer {
    display:flex;
    align-items:center;
    justify-content:center;
}

/* .jobContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
} */

.testimonalImage {
    height:80px;
    width:80px;
    border-radius:50%;
}

.testimonalName {
    text-align:center;
    font-weight:bold;

}

.testimonalPosition {
    text-align: center;
    margin-top:-14px;
}
@media(min-width:768px) {
    .heroImageContainer {
        margin-left:-160px;
        margin-right:0;
    }

    .mainchairContainer {
        flex-wrap:wrap;
        display:flex;
    }

    .productContainer, .chairsContainer{
        width:100%;
    }

    .chairsContainer {
        flex-direction: row;
        margin-top:60px;
    }

    .chair {
        height:200px;
    }
    
    .chairContainer {
        width:33%;
    }
}

@media(min-width:992px) {
    .heroContainer {
        flex-direction:row;
        align-items:flex-start;
    }

    .heroImageContainer {
        margin:-50px -278px 0 0;
    }

}