.shopContainer {
    display:grid;
    grid-template-columns: 1fr ;
    gap:20px;
    padding:10px 5%;
}

@media (min-width:768px){
    .shopContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:992px){
    .shopContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}